.contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.header {
  align-self: flex-start;
}

.address {
  margin-right: 16px;
}

.location-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  gap: 32px;
}

.location-wrapper p,
.address > a {
  font-family: button, sans-serif;
  font-size: 1.2rem;
  line-height: 3.5rem;
  text-align: right;
}

.address > a {
  gap: 32px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  max-width: 500px;
}

.social {
  padding: 64px 0;
}
